<!-- show the grid only items is not empty -->
<!-- So not error for items indefined -->
<div class="mt-4">
    <h4>{{ title }}</h4>
    <hr>

    <div class="row" *ngIf="items">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-md-12 div-pic-1" (click)="viewDetails(items[0].id)"
                    [ngStyle]="{'background-image': 'url('+ (items[0] | noImageGrid) +')'}">
                    <p class="pic-titulo">
                        {{ items[0].original_title }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm div-pic-2" (click)="viewDetails(items[1].id)"
                    [ngStyle]="{'background-image': 'url('+ (items[1] | noImageGrid) +')'}">
                    <p class="pic-titulo">
                        {{ items[1].original_title }}
                    </p>
                </div>
                <div class="col-sm div-pic-2" (click)="viewDetails(items[2].id)"
                    [ngStyle]="{'background-image': 'url('+ (items[2] | noImageGrid) +')'}">
                    <p class="pic-titulo">
                        {{ items[2].original_title }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm div-pic-2" (click)="viewDetails(items[3].id)"
                    [ngStyle]="{'background-image': 'url('+ (items[3] | noImageGrid) +')'}">
                    <p class="pic-titulo">
                        {{ items[3].original_title }}
                    </p>
                </div>
                <div class="col-sm div-pic-2" (click)="viewDetails(items[4].id)"
                    [ngStyle]="{'background-image': 'url('+ (items[4] | noImageGrid) +')'}">
                    <p class="pic-titulo">
                        {{ items[4].original_title }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 div-pic-1" (click)="viewDetails(items[5].id)"
                    [ngStyle]="{'background-image': 'url('+ (items[5] | noImageGrid) +')'}">
                    <p class="pic-titulo">
                        {{ items[5].original_title }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>