<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4" data-masonry='{"percentPosition": true }'>

        <div class="card mb-3" *ngFor="let p of items" (click)="viewDetails(p.id)">
            <img [src]="p.poster_path | noImage: 'portrait'" class="card-img-top" width="100%">
            <div class="card-body">
                <h5 class="card-title">{{ p.title }} </h5>
                <p class="text-muted">
                    {{ p.release_date | date: 'dd-MMM-yy'}}
                </p>
                <p class="card-text">
                    {{ p.overview | slice: 0:150 }}... 
                    <a [routerLink]="['/detalle', p.id ]">Read more</a>
                </p>
                <span class="badge rounded-pill bg-primary" *ngFor="let g of p.genre_ids">
                    {{ g }}
                </span>

            </div>
        </div>
    </div>
</div>