<div class="text-start">
    <div class="row mt-3">
        <div class="col text-start">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="#">Detalles</a></li>
                </ol>
              </nav>
        </div>
        <div class="col text-end">
            <button class="btn btn-outline-danger" [routerLink]="['/home']">
                <i class="fa fa-long-arrow-alt-left"></i>
                Regresar
            </button>
        </div>

    </div>
</div>

<div class="row mt-4">
    <div class="col-4">
        <div class="bg-image">
            <img [src]="detalle?.poster_path | noImage: 'portrait'" class="img-fluid" width="100%">
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5 class="card-title">{{ detalle?.title }}</h5>
                        <div class="justify-content-around">
                            <span class="badge rounded-pill bg-danger me-1" *ngFor="let g of detalle?.genres"
                                (click)="verGenero(g.id)">
                                {{ g.name }}
                            </span>
                        </div>
                        <p class="card-text">
                            {{ detalle?.overview }}
                        </p>
                        <div class="row text-center text-muted">
                            <div class="col">
                                Popularity: <br>
                                <span class="badge rounded-pill bg-secondary">
                                    {{ detalle?.popularity }}
                                </span>
                            </div>
                            <div class="col">
                                Original language: <br>
                                <span class="badge rounded-pill bg-secondary">
                                    {{ detalle?.original_language }}
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h6>Poducer:</h6>
                        <div class="row">
                            <div class="col" *ngFor="let c of detalle?.production_companies">
                                <img [src]="c.logo_path | noImage: 'lanscape'" width="150px">
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="card-footer">
                <a [href]="detalle?.homepage">Oficial site</a>
            </div>
        </div>
    </div>

</div>